services:
  panoptes-backend:
    container_name: panoptes_backend
    image: registry.diginfra.net/tsd/panoptes-backend:beta-59
    environment:
      - ES_SCHEME=http
      - ES_HOST=host.docker.internal
      - MONGO_CONNECTION=mongodb://host.docker.internal:27017/
    ports:
      - "8000:8000"
